APP_ENV=dev
APP_SECRET=4dfc8820d41324cb9b5aa23def166121
APP_URL=localhost
PROJECT_NAME=task-backend
MESSENGER_TRANSPORT_DSN=doctrine://default

APP_SECRET=43e7d907a35cede4fde3ff94d474752f

ENVIRONMENT_NAME=local

DATABASE_DRIVER=pdo_mysql
DATABASE_HOST=mysql
DATABASE_PORT=3306
DATABASE_NAME=db_tm
DATABASE_USER=admin
DATABASE_PASSWORD=admin
DATABASE_ADMIN=root

PETSTORE_BASE=
PETSTORE_APIKEY=""
